* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #fff;
  list-style: none;
}

body {
  height: 100vh;
  background-color: #0e0e0e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 900px;
  width: 1200px;
  background-color: #1a1a1a;
  border-radius: 1rem;
  border: 2px solid #3b0958;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 1024px;
}

header {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 1rem 1rem 0 0;
  border: 2px solid #3b0958;
}

header h1 {
  margin-left: 40px;
}

ul.messages {
  margin-top: 20px;
}

.messages li {
  position: relative;
  width: 1000px;
  height: 50px;
  border: 2px solid #3b0958;
  border-radius: 1rem;

  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 50px;
}

.buttons {
  position: absolute;
  margin-top: 85px;
  margin-left: 700px;
}

.buttons button {
  background-color: transparent;
  padding: 8px 30px;
  background-color: #1a1a1a;
  border: 2px solid #3b0958;
  border-radius: 0 0 1rem 1rem;
  cursor: pointer;
  font-weight: 700;
}

button.edit {
  color: #d3c22d;
  margin-right: 10px;
}

button.del {
  color: #901e1e;
}

section.write__message {
  margin-top: auto;
  border-radius: 1rem 1rem 0 0;
  border: 2px solid #3b0958;
  border-bottom: none;
}

.write__message input {
  width: calc(100% - 20px);
  height: 200px;
  padding-left: 20px;
  background: transparent;
  border: none;
  border-radius: 1rem 1rem 0 0;
}

button.send {
  position: fixed;
  z-index: 10;
  margin-left: -300px;
  margin-top: 80px;
  background-color: #1a1a1a;
  padding: 10px 80px;
  border-radius: 1rem;
  border: 2px solid #3b0958;
  cursor: pointer;
  font-weight: 700;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
